<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kinclong</title>

    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../asset/css/login.css" />

    <script src="../../lib/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    
  </head>
  <body>
    <div class="container">
      <div class="form-box mx-auto">
        <h1 class="text-center pt-5">MASUK</h1>
        <hr class="mx-auto" />
        <form>
          <div class="mb-3">
            <label for="username-input" class="form-label">Nama Pengguna</label>
            <input type="text" class="form-control" id="username-input" />
          </div>
          <div class="mb-3">
            <label for="passwod-input" class="form-label">Kata Sandi</label>
            <input type="password" class="form-control" id="passwod-input" />
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-3 ps-4 pe-4" id="masuk-button">Masuk</button>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <p class="pe-1">Tidak punya akun?</p>
            <a href="">Daftar</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
