@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Courgette&family=Kaushan+Script&display=swap');

* {
  font-family: 'Afacad', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  height: max-content;
  background-image: url('../img/wave-1.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #fff2f2;
}

#logo_brand {
  width: 12rem;
}

.form-box {
  background-color: #ffffff;
  margin-top: 3rem;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 6px 9px 6px rgba(0, 0, 0, 0.3);
}

.form-box hr {
  border: none;
  border-top: 2px dashed #ffffff;
  margin: 20px 0;
}

.form-box form {
  padding: 0 30px 30px 30px;
}

.form-box form input {
  width: 23rem;
}

#masuk-button {
  background-color: #7886c7;
}

/* RESPONSIVE */
/* Tablet - 768px */
@media screen and (max-width: 768px) {
  .logo-section {
    display: flex;
    justify-content: center;
  }

  #logo_brand {
    width: 9rem;
    margin-top: 3rem;
  }

  .form-box {
    margin-top: 1rem;
  }
}

/* Mobile L - 425px */
@media screen and (max-width: 425px) {
  .logo-section {
    display: flex;
    justify-content: center;
  }

  #logo_brand {
    width: 9rem;
    margin-top: 3rem;
  }

  /* .form-box hr {
    width: 19rem;
  } */

  .form-box {
    margin-top: 1rem;
  }

  .form-box form input {
    width: 19rem;
  }
}

/* Mobile M - 375px */
@media screen and (max-width: 375px) {
  .logo-section {
    display: flex;
    justify-content: center;
  }

  #logo_brand {
    width: 9rem;
    margin-top: 3rem;
  }

  .form-box {
    margin-top: 1rem;
  }

  .form-box form input {
    width: 15rem;
  }
}
