<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kinclong*</title>

    <!-- CSS -->
    <!-- Library -->
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css" />

    <!-- Custom -->
    <link rel="stylesheet" href="../asset/css/promo.css" />

    <!-- JS -->
    <!-- Library -->
    <script src="../lib/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../asset/js/promo.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img id="logo_brand" src="../asset/img/logo_brand.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="ms-auto navbar-menus">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-menu" aria-current="page" href="beranda.html">Beranda</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-menu" aria-current="page" href="promo.html">Promo</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-menu" aria-current="page" href="#">Berita</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-menu" aria-current="page" href="#">Profil</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="main container mt-5">
      <div class="row mb-5">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card text-center" id="card-1">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <button class="nav-link active" id="pratinjau-1">Pratinjau</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" id="pratinjau-2">Deskripsi</button>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="pratinjau">
                <h4>Cuci Mobil Sepuasnya!</h4>
                <div class="img-container">
                  <img src="../asset/img/promo-1.jpeg" class="card-img-top" alt="..." />
                </div>
              </div>

              <div class="deskripsi d-none">
                <p class="text-start">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto rem culpa repellat cum consequuntur fugiat cupiditate! Quas, dolore voluptas? Numquam suscipit ab voluptate iusto mollitia ad esse veritatis
                  dignissimos?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card text-center" id="card-2">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <button class="nav-link active" id="pratinjau-1">Pratinjau</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" id="pratinjau-2">Deskripsi</button>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="pratinjau">
                <h4>Cuci Mobil Sepuasnya!</h4>
                <div class="img-container">
                  <img src="../asset/img/promo-2.jpeg" class="card-img-top" alt="..." />
                </div>
              </div>

              <div class="deskripsi d-none">
                <p class="text-start">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto rem culpa repellat cum consequuntur fugiat cupiditate! Quas, dolore voluptas? Numquam suscipit ab voluptate iusto mollitia ad esse veritatis
                  dignissimos?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card text-center" id="card-3">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <button class="nav-link active" id="pratinjau-1">Pratinjau</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" id="pratinjau-2">Deskripsi</button>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="pratinjau">
                <h4>Cuci Mobil Sepuasnya!</h4>
                <div class="img-container">
                  <img src="../asset/img/promo-1.jpeg" class="card-img-top" alt="..." />
                </div>
              </div>

              <div class="deskripsi d-none">
                <p class="text-start">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto rem culpa repellat cum consequuntur fugiat cupiditate! Quas, dolore voluptas? Numquam suscipit ab voluptate iusto mollitia ad esse veritatis
                  dignissimos?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card text-center" id="card-4">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <button class="nav-link active" id="pratinjau-1">Pratinjau</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" id="pratinjau-2">Deskripsi</button>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="pratinjau">
                <h4>Cuci Mobil Sepuasnya!</h4>
                <div class="img-container">
                  <img src="../asset/img/promo-2.jpeg" class="card-img-top" alt="..." />
                </div>
              </div>

              <div class="deskripsi d-none">
                <p class="text-start">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iusto rem culpa repellat cum consequuntur fugiat cupiditate! Quas, dolore voluptas? Numquam suscipit ab voluptate iusto mollitia ad esse veritatis
                  dignissimos?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="body"></div>
    </footer>
  </body>
</html>
