<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kinclong</title>

    <!-- CSS -->
    <!-- Library -->
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <!-- Custom -->
    <link rel="stylesheet" href="../../asset/css/booking.css" />
    <!-- END -->

    <!-- JS -->
    <!-- Library -->
    <script src="../../lib/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <!-- Custom -->
    <script src="../../asset/js/login.js"></script>
    <!-- END -->
  </head>
  <body>
    <div class="container">
      <div class="logo-section">
        <img id="logo_brand" src="../../asset/img/logo_brand.png" alt="" />
      </div>

      <div class="form-box mx-auto">
        <h1 class="text-center pt-5">LUAR DALAM</h1>
        <form>
          <hr class="mx-auto" />
          <div class="mb-3">
            <label for="tipe-mobil-input">Tipe Mobil</label>
            <select class="form-select" aria-label="Default select example" id="tipe-mobil-input">
              <option selected>Pilih disini</option>
              <option value="1">Jeep</option>
              <option value="2">SUV</option>
              <option value="3">MPV</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="tanggal-input">Tanggal</label>
            <input type="date" class="form-control" id="tanggal-input" />
          </div>
          <div class="mb-5">
            <label for="pembayaran-input">Metode Pembayaran</label>
            <select class="form-select" aria-label="Default select example" id="pembayaran-input">
              <option selected>Pilih disini</option>
              <option value="1">Transfer</option>
              <option value="2">QRIS</option>
            </select>
          </div>
          <div class="action-section d-flex justify-content-center">
            <a href="../beranda.html" class="btn btn-primary">Selesai</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
