<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kinclong</title>

    <!-- CSS -->
    <!-- Library -->
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <!-- Custom -->
    <link rel="stylesheet" href="../../asset/css/booking.css" />
    <!-- END -->

    <!-- JS -->
    <!-- Library -->
    <script src="../../lib/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <!-- Custom -->
    <script src="../../asset/js/login.js"></script>
    <!-- END -->
  </head>
  <body>
    <div class="container">
      <div class="logo-section">
        <img id="logo_brand" src="../../asset/img/logo_brand.png" alt="" />
      </div>

      <div class="form-box mx-auto">
        <div class="pelayanan">
          <h1 class="text-center pt-5">PILIH TIPE PELAYANAN.</h1>
          <hr class="mx-auto" />
          <div class="pelayanan-container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                <div class="pelayanan-item">
                  <div class="img-canvas mb-2">
                    <img src="../../asset/img/luar-dalam.jpeg" alt="" />
                  </div>
                  <h3>LUAR DALAM</h3>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                <div class="pelayanan-item">
                  <div class="img-canvas mb-2">
                    <img src="../../asset/img/luar-saja.jpeg" alt="" />
                  </div>
                  <h3>LUAR SAJA</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
