<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kinclong</title>

    <!-- CSS -->
    <!-- Library -->
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <!-- Custom -->
    <link rel="stylesheet" href="../../asset/css/booking.css" />
    <!-- END -->

    <!-- JS -->
    <!-- Library -->
    <script src="../../lib/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <!-- Custom -->
    <script src="../../asset/js/login.js"></script>
    <!-- END -->
  </head>
  <body>
    <div class="container">
      <div class="logo-section">
        <img id="logo_brand" src="../../asset/img/logo_brand.png" alt="" />
      </div>

      <div class="form-box mx-auto">
        <form id="form-qris">
          <div class="va-image mb-3">
            <img src="../../asset/img/qr-code.png" alt="" />
          </div>
          <h4 class="text-center">Silahkan scan barcode diatas.</h4>

          <div class="total-section text-center mt-5 mb-5">
            <h4>Tagihan anda:</h4>
            <h4>Rp.20.000,-</h4>
          </div>
          <h5 class="text-center">Waktu bayar tersisa: 30:00:00</h5>
          <div class="action-section d-flex justify-content-center mt-4">
            <a href="../beranda.html" class="btn btn-primary">Kembali</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
